@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
    scrollbar-gutter: stable;
}

body {
    background-color: #f4f4f4;
    font-family: 'Nunito', sans-serif;
    max-width: 1280px;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.text {
    color: #4ac77c;
    text-align: center;
    margin: 30px;
}
